PORT=8000
ENVIRONMENT=development
LOG_LEVEL=debug
LOG_PRETTY=true
REQUEST_BODY_SIZE_LIMIT=20mb

# Morgan Logger Configuration
REQUEST_LOGGER_ENABLED=true
REQUEST_LOGGER_FORMAT=dev
REQUEST_LOGGER_LOG_REQUEST_BODY=true
REQUEST_LOGGER_LOG_RESPONSE_BODY=true
REQUEST_LOGGER_MAX_BODY_LENGTH=1000